body {
    background-color: #5A6991;
    color: #FFFFFF;
    width: 100%;
}
body #center-area {
    font-family: Helvetica;
    margin: 20px auto;
    text-align: center;
    text-shadow: 4px 2px 1px #4A5677;
    width: 500px;
}
#center-area img {
    width: 500px;
}
